/* ------ CSS Reset ------*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

.clearfix {
	clear: both;
	height: 0px;
}

::-moz-selection{
background-color:Transparent;
}

::selection {
background-color:Transparent;
}

/* ------ Main ------*/

body {
	font-family: "Trebuchet MS", Trebuchet, sans-serif;
	background: #272727;
	color: #eeeeee;
}

#container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	padding: 0 40px;
	width: 100%;
	min-width: 720px;
	height: 400px;
	max-width: 1200px;
}

/* ------ Status Groups ------*/

#status {
	margin: 0px 0 0 0;
	opacity: 0.75;
	font-size: 12px;
	-webkit-transition: all 0.25s; /* For Safari 3.1 to 6.0 */
	transition: all 0.25s;
}

#status:hover {
	opacity: 1;
}

#status .status-group-left {
	float: left;
	text-align: left;
}

#status .status-group-right {
	float: right;
	text-align: right;
}

#status .status-group-left .config-group {
	margin-right: 30px;
	-webkit-transition: all 0.25s; /* For Safari 3.1 to 6.0 */
	transition: all 0.25s;
}

#status .status-group-right .config-group {
	margin-left: 20px;
	-webkit-transition: all 0.25s; /* For Safari 3.1 to 6.0 */
	transition: all 0.25s;
}


.config-group {
	display: inline-block;
	vertical-align: baseline;
}

#time-estimate {
	font-weight: bold;
	
}

.config-title {
	display: inline-block;
	vertical-align: baseline;
	padding: 26px 0px;
	
}

.config-display {
	padding: 25px 0px 23px 0px;
	display: inline-block;
	vertical-align: baseline;
	position: relative;
	min-width: 24px;
}

.config-display-text {
	width: 100%;
	font-weight: 700;
	padding: 0px 5px;
	text-align: center;
}

.config-button-up, .config-button-down {
	position: absolute;
	width: 100%;
	height: 18px;
	cursor: pointer;
	text-align: center;
}

.config-button-up { top: 3px; }
.config-button-down { bottom: 3px; }

.time-title {
	font-style: italic;
}

.circle {
	border-width: 1px;
	border-style: solid;
	border-radius: 10px;
	width: 18px;
	height: 18px;
	display: inline-block;
	font-size: 12px;
	text-align: center;
	padding: 3px;
	margin: -3px 0;
	text-decoration: none;
}

a.circle {
	cursor: pointer;
}

.yellow {
	color:yellow;
}

.color-title, .highlight-title {
	cursor: pointer;
	font-weight: 700;
}



/* ------ Reading Area ------*/

#word-container{ 
    position: relative;
    width: 100%;
    float: left;
    padding: 20px 0 20px 0;
    font-family: Georgia, serif;
    height: 240px;
    clear: both;
}


#word {
	position:absolute;
}


h1 /* I'm not sure how the positioning works*/ {
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: auto;
	margin-bottom: auto;
	width: auto;
}

#word .highlight {

}

/* ------ Loading ------*/
#loading-container {
	width:500px;
	margin-left:auto;
	margin-right:auto;
	font-size:14px;
}
#loading-stats {
	float:left;
	clear:both;
}

#loading {
	font-size:18px;
	float:left;
	margin-bottom:15px;
}

#loading-container .stats-line {
	margin-bottom:10px;
}

.ellipsis i {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.0s;
}

.ellipsis i+i {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.2s;
}

.ellipsis i+i+i {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.3s;
}

@-webkit-keyframes dot {
      0% { opacity: 0; }
     50% { opacity: 0; }
    100% { opacity: 1; }
}


/* ------ Slider ------*/

#slider-container {
	width: 100%;
	clear: both;
	float: left;
	margin: 10px 0;
}

#slider {
	margin: 0 auto;
	width: 94%;
	border-radius: 0px;
	border: none;
	height: 3px;
}


#slider .ui-slider-handle {
	margin: -2px 0 0 -1px;
    height: 17px;
    width: 12px;
    border-radius: 0px;
    border-width: 3px;
    border-style: solid;
}

/* ------ Share article ------ */
#share-article-div{
	opacity:0.5;
	position:absolute;
	width:700px;
	top:270px;
	left:160px;
	z-index:99;
}

#share-article-fb {
	width:400px;
	float:left;
}

#share-article-label{
	float:left;
	font-size: 11px;
	margin-right:10px;
	margin-top:5px;
}

/* ------ Congratulations ------ */
#congrats {
	font-size:11px;
	opacity: 0.75;
	position:absolute;
	z-index:99;
	top:270px;
	left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
	width:450px;
	text-align: center;

}

/* ------ Control ------*/

#controls {

	width: 100%;
	float: left;
	clear: both;
	height: 40px;
	opacity: 0.75;
	-webkit-transition: all 0.25s; /* For Safari 3.1 to 6.0 */
	transition: all 0.25s;

}

#controls:hover {
	opacity: 1;
	-webkit-transition: all 0.25s; /* For Safari 3.1 to 6.0 */
	transition: all 0.25s;

}


#share-spreed-fb {
	width:400px;
	float:left;
	margin-top:20px;
}

.controls-ul {
	float: right;
}

.controls-ul li {
	display: block;
	float: left;
	height: 32px;
	width: 32px;
	margin: 10px 15px 5px 15px;
	cursor: pointer;
	overflow: hidden;
	background-image: url('control-sprite.png');
	background-repeat: no-repeat;
}

.controls-ul li span {
	position: relative;
	left: -200px;
}

#update-container {

}
#update-container a{
	color:black;
	background:white;
}
#update-container a:hover{
	color:black;
	background:white;
	text-decoration:none;
}
#update-container ul li{
	margin-left:40px;
}

#controls-message {
	width: auto;
	display: inline-block;
	padding: 20px 0;
	font-size: 12px;
}
#controls-message a{
	padding: 5px 0;
	border-bottom: 1px dotted #ccc;
}


/* ------ Theming ------*/

body.black { 
	background: #272727;
}

body.black {
	color: #aaaaaa;
}

body.black #status .config-group:hover{
	color: #ffffff;
}

body.black #status .config-group:hover .config-display {
	color: #f6861f;
}

body.black #status .svg-arrow .svg-path {
	fill: #555555;
}

body.black #status .config-group:hover .svg-arrow .svg-path {
	fill: #f6861f;
}

body.black #word {
	color: #fafafa;
}

#word span.highlight {
	
}

body.black #slider {
	background: #666666;
}

body.black #slider .ui-slider-handle {
	background: #eeeeee;
	border-color: #272727;
}

body.black #controls .controls-ul-pause {
	background-position: 0px 0px;
}
body.black #controls .controls-ul-play {
	background-position: -32px 0px;
}
body.black #controls .controls-ul-replay {
	background-position: -64px 0px
}
body.black #controls .controls-ul-rewind {
	background-position: -96px 0px;
}
body.black #word-container-timer {
	border-bottom:3px solid white;
}


body.white { 
	background: #fafafa;
}

body.white {
	color: #888888;
}

body.white #status .config-group:hover{
	color: #222222;
}

body.white #status .config-group:hover .config-display {
	color: #f6861f;
}

body.white #status .svg-arrow .svg-path {
	fill: #cccccc;
}

body.white #status .config-group:hover .svg-arrow .svg-path {
	fill: #f6861f;
}

body.white #word {
	color: #222222;
}

body.white #slider {
	background: #cccccc;
}

body.white #slider .ui-slider-handle {
	background: #333333;
	border-color: #fafafa;
}

body.white #controls .controls-ul-pause {
	background-position: 0px -32px;
}
body.white #controls .controls-ul-play {
	background-position: -32px -32px;
}
body.white #controls .controls-ul-replay {
	background-position: -64px -32px
}
body.white #controls .controls-ul-rewind {
	background-position: -96px -32px;
}





body.sepia { 
	background: #f8eed4;
}

body.sepia {
	color: #836f5e;
}

body.sepia #status .config-group:hover{
	color: #3a210a;
}

body.sepia #status .config-group:hover .config-display {
	color: #f6861f;
}

body.sepia #status .svg-arrow .svg-path {
	fill: #c1b4a9;
}

body.sepia #status .config-group:hover .svg-arrow .svg-path {
	fill: #f6861f;
}

body.sepia #word {
	color: #3a210a;
}

body.sepia #slider {
	background: #c4bbab;
}

body.sepia #slider .ui-slider-handle {
	background: #3a210a;
	border-color: #f8eed4;
}

body.sepia #controls .controls-ul-pause {
	background-position: 0px -64px;
}
body.sepia #controls .controls-ul-play {
	background-position: -32px -64px;
}
body.sepia #controls .controls-ul-replay {
	background-position: -64px -64px
}
body.sepia #controls .controls-ul-rewind {
	background-position: -96px -64px;
}

body.white #word-container-timer,
body.sepia #word-container-timer {
	border-bottom:3px solid black;
}



body.black #controls .controls-ul-pause:hover,
body.white #controls .controls-ul-pause:hover,
body.sepia #controls .controls-ul-pause:hover {
	background-position: 0px -96px;
}
body.black #controls .controls-ul-play:hover,
body.white #controls .controls-ul-play:hover,
body.sepia #controls .controls-ul-play:hover {
	background-position: -32px -96px;
}
body.black #controls .controls-ul-replay:hover,
body.white #controls .controls-ul-replay:hover,
body.sepia #controls .controls-ul-replay:hover {
	background-position: -64px -96px
}
body.black #controls .controls-ul-rewind:hover,
body.white #controls .controls-ul-rewind:hover,
body.sepia #controls .controls-ul-rewind:hover {
	background-position: -96px -96px;
}
body.black #word-container-timer,
body.white #word-container-timer,
body.sepia #word-container-timer {
	position:relative;
	clear:both;
	margin-left:auto;
	margin-right:auto;
	width: 0px;
}


/* ------ Pop Up ------*/

#cboxContent {
	background: #272727;
	color: #fafafa;
}

#inline_tips {
	padding: 5px 25px 10px 15px;
	font-size: 11px;
	font-weight: 500;
}

#inline_tips h1 {
	font-size: 12px;
	color: #f6861f;
	margin: 15px 0 8px 0;
	float: left;
	clear: both;
}

#inline_tips .hotkeys-dd dt,
#inline_tips .hotkeys-dd dd {
	display: inline-block;
	float: left;
	vertical-align: baseline;
}

#inline_tips .hotkeys-dd dt {
	height: 20px;
	padding: 4px 6px 3px 6px;
	border: 1px solid #aaa;
	color: #aaa;
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	clear: both;
	border-radius: 3px;
	margin: 3px 3px 3px 0px;
	font-weight: 700;
}

#inline_tips .hotkeys-dd dt+dt {
	clear: none;
}

#inline_tips .hotkeys-dd dd {
	margin: 6px 0 5px 15px;
}

#inline_tips p {
	float: left;
	clear: left;
	line-height: 1.4em;
}
#inline_tips p span.button-name {
	text-decoration: underline;
}




