body {
	font-family: Baskerville,
			 Hoefler Text,
             Georgia,
             "Times New Roman",
             Times,
             serif;
    
    background:#272727;
    color:white;
}

body.whitebg {
	font-family: Baskerville,
			 Hoefler Text,
             Georgia,
             "Times New Roman",
             Times,
             serif;
    
    background:white;
    color:black;
}

body.sepiabg {
	font-family: Baskerville,
			 Hoefler Text,
             Georgia,
             "Times New Roman",
             Times,
             serif;
    
    background:#FFF8DC;
    color:black;
}

h1,h2,h3 {
	font-weight: normal;
}

span.small{
	font-size:12px;
}

#invert-colors {
	float:right;
}



#quicktips_link{
	float:left;
	margin-left:10px;
}





#bottom-right-boxes {
	float:right;
}

#info {
	float:right;
	width:150px;
	font-size:12px;
	color:white;
	margin-left:20px;
}

#info.whitebg {
	float:right;
	width:150px;
	font-size:12px;
	color:black;
	margin-left:20px;
}
#info.sepiabg {
	float:right;
	width:150px;
	font-size:12px;
	color:black;
	margin-left:20px;
}


#info a{
	color:white;
}
#info.whitebg a{
	color:black;
}
#info.sepiabg a{
	color:black;
}

#info a:hover{
	text-decoration: none;
}



#donate {
	float:right;
}

/*on popup, not main spreed window*/
#donate-link{
	color:black;
	background:white;
	font-size:20px;
}

#small-donate-link, #small-review-link {
	/*color:darkkhaki;
	background:black;*/
	color:black;
	background:goldenrod;
	font-size:12px;
}


#small-donate-link:hover {
	text-decoration: none;
}

#donate-text {
	font-size:12px;
}

#donate-link:hover{
	text-decoration: none;
}

#donate-img {
	padding-right:10px;
	padding-left:10px;
}





#container {
	width: 95%;
	height:95%;

	margin:0 auto;
}

#popup-container {
	width:400px;
	height:250px;
}
#popup-container a{
	color:black;
	background:white;
}
#popup-container a:hover{
	color:black;
	background:white;
	text-decoration:none;
}



#status {
	float:left;
	width:100%;
	font-size:12px;
}
#status button.mode-button{
	float:right;
	font-size:10px;
	margin-left:10px;
}



#word-container{ 
    
    width: 100%;

    position: relative;
    float:left;

    padding:40px 0 40px 0;
    margin-top:14%;
    margin-bottom:17%;

    
    
}

#word-container-timer {
	position:relative;
	clear:both;
	margin-left:auto;
	margin-right:auto;
	width: 0px;
	border-bottom:3px solid white;
}

#word-container-timer.whitebg {
	position:relative;
	clear:both;
	margin-left:auto;
	margin-right:auto;
	width: 0px;
	border-bottom:3px solid black;
}

#word-container-timer.sepiabg {
	position:relative;
	clear:both;
	margin-left:auto;
	margin-right:auto;
	width: 0px;
	border-bottom:3px solid black;
}


/*
#word-container.highlight::after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -1px;
    height: 10px;
    background-color: white;
    width: 2px;
    top: 0;
}

#word-container.highlight.whitebg::after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -1px;
    height: 10px;
    background-color: black;
    width: 2px;
    top: 0;
}
#word-container.highlight.sepiabg::after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -1px;
    height: 10px;
    background-color: black;
    width: 2px;
    top: 0;
}

#word-container.highlight::after {
    top: auto;
    bottom: 0;
}
#word-container.highlight.whitebg::after {
    top: auto;
    bottom: 0;
}
#word-container.highlight.sepiabg::after {
    top: auto;
    bottom: 0;
}
*/



span.highlight {
	
}



#word {
	position:absolute;
}


h1 {
	margin-left:auto;
	margin-right:auto;
	display:block;
	margin-top:auto;
	margin-bottom:auto;
	width:auto;
}

.status-div {
	float:left;
	width:auto;

}

#time-estimate {
	margin-right:30px;

}

.status-buttons {
	float:left;
	margin-right:20px;
}

.status-buttons button{
	float:left;
	width:18px;
	margin-left:5px;
	font-size:8px;
}


#controls{
	clear:both;
}
#controls #hotkey-info{
	font-size:12px;
	margin-bottom: 5px;
}
#controls button{
	font-size:1.5em;
	float:left;

}

#quicktips_link {
	float:right;
	margin-right:5px;
}
#inline_tips {
	padding:10px;
	font-size:14px;
	color:white;
}
.hotkey{
	font-weight: bold;
	font-family: Courier;
	color:gold;
}



#slider {
	margin:10px 0 0 10px;
	clear:both;
	float:left;
	width:87%;
}

#slider-checkbox-div {
	float:right;
	font-size:12px;
	margin-top:4px;
	height:20px;
	line-height: 20px;
}


#slider-checkbox-div input{
	vertical-align: middle;
}

#slider-checkbox-div span{
	vertical-align: middle;
}


.ui-slider-horizontal {
    height: 5px;
    
}
.ui-slider .ui-slider-handle {
	
	margin-top:3px;
	margin-left:-1px;
    height: 8px;
    width: 8px;
    
}