body {
    font-family: "Bitstream Charter", Serif;
    font-size: 15px;
}

#container {
    margin-top: 8px;
    margin-right: auto;
    margin-left: auto;
    width: 800px;
    overflow: hidden;
}

.title {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 180%;
}

hr {
    margin: 10px 0px 10px -15px;
    border-top-color: #D3D3D3;
    border-top-style: solid;
    border-width: 1px 0px 0px 0px;
}

.label {
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 20px;
    font-size: 105%;
}

