
#sidebar {
    float: left;
    width: 105px;
    margin-left: -107px;
}

ul#navigation {
    margin-top: 30px;
    list-style-type: none;
    padding: 0;
}

ul#navigation li {
    color: #6b6b6b;
    cursor: pointer;
    margin: 14px 0;
}

ul#navigation li.selected {
    color: #000;
    cursor: auto;
    font-weight: bold;
}

