body {
    font-size: 15px;
    font-family: "Bitstream Charter", Serif;
    overflow-y: scroll;
}

#container {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 60px;
    width: 802px;
}

#header {
    overflow: hidden;
}

#header h2 {
    border-bottom: 1px solid black;
}

#search_controls {
    padding-bottom: 20px;
    border-bottom: 1px solid lightgray;
}

.pager_row {
    padding-top: 5px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#results {
    width: 100%;
}

#show_search_tips {
    float: right;
}

.timeColumn {
    vertical-align: top;
    padding-top: 2px;
    padding-bottom: 3px;
    width: 15%;
}

.timeColumn label {
    vertical-align: top;
    font-size: 85%;
}

.urlColumn {
    vertical-align: top;
    word-break: break-word;
    padding-bottom: 3px;
    width: 85%;
}

.new_day {
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 5px;
}

.new_day a {
    color: black;
}

.histdomain {
    margin-left: 10px;
    color: #979ca0;
}

#older_top, #older_bottom {
    float: right;
}

#newer_top, #newer_bottom {
    float: right;
    margin-right: 20px;
}

#search_desc_text {
    font-weight: bold;
    font-style: italic;
}

#pager_top {
    padding-bottom: 10px;
}

#pager_bottom {
    padding-top: 20px;
}

#search_desc {
    padding-top: 5px;
}

.ui-button, #search_tips, #confirm_delete {
    font-size: 64% !important;
}

.ui-dialog-title {
    font-size: 75% !important;
}

.ui-dialog .ui-state-error { 
    padding: .3em;
}

.search_example {
    font-weight: bold;
}

#waiting_progress {
    margin-top: 0px;
}

#syncing_spinner {
    margin-left: 10px;
    vertical-align: bottom;
}

