body {
    font-family: "Bitstream Charter", Serif;
    font-size: 15px;
    overflow-y: scroll;
}

#container {
    margin-right: auto;
    margin-left: auto;
    width: 802px;
}

#trends_container {
    display: none;
}

#waiting_container {
    display: block;
}

#waiting_progress {
    margin-top: 0px;
}

#header {
    overflow: hidden;
}

#header h2 {
    border-bottom: 1px solid black;
}


.dygraph-title {
    text-align: left;
    padding-top: 2px;
    padding-left: 100px;
    font-family: "Arial";
}

.dygraph-legend {
    margin-top: -20px;
}

#chart_hour , #chart_day, #chart_day_of_month, 
#chart_month, #chart_transition, #chart_time, #chart_year {
    border: 1px solid black;
    margin-bottom: 30px;
}

#chart_time {
    height: 250px;
    margin-top: 30px;
}

#per_day_stats {
    border-collapse: collapse;
}

#transition_definition {
    text-align: right;
    margin-top: -25px;
    margin-bottom: 30px;
}

#footer {
    margin-bottom: 30px;
}

#overview {
    width: 100%;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
}

#overview h2 {
    border-bottom: 1px solid black;
}

#counts {
    float: left;
    margin-bottom: 30px;
}

#limiter {
    float: right;
}

#filters {
    float: right;
    margin-bottom: 10px;
}

.filter_value {
    text-align: right;
    font-weight: bold;
}

.top10 th {
    padding: 3px 10px 3px 10px;
    border-bottom: 1px solid #3F3F3F;
}

.popup.top10 th {
    padding: 3px 18px 3px 10px;
}

.top10 tr {
    border-bottom: 1px solid #D3D3D3;
}

.top10 tbody tr:hover {
    background-color: #DADADA;
}

.top10 {
    text-align: left;
    border-collapse: collapse;
}

.top10 td {
    padding: 3px 10px 3px 10px;
}

#url_container, #domain_container, #unique_url_container {
    border: 1px solid #3F3F3F;
    border-top: none;
    padding: 5px;
    margin-top: -11px;
    margin-bottom: 30px;
    overflow: hidden;
}

.tab_2col .col2 {
    width: 20%;
    text-align: right;
}

#busiest_days .col2 {
    width: 33%;
    text-align: right;
}

table#busiest_days {
    width: 100%;
}

#daily_stats_container, #busiest_days_container {
    border: 1px solid #3F3F3F;
    padding: 5px;
}

.light_background {
    background: #F1F1F1;
}

#busiest_days_container {
    width: 300px;
    overflow: hidden;
}

#daily_stats_container {
    float: right;
    margin-right: 150px;
    margin-left: 0;
    border-collapse: collapse;
    max-width: 250px;
}

.main_table {
    width: 100%;
    table-layout: fixed;
    word-wrap: break-word;
}

.filter_controls {
    text-align: right;
    margin-top: 5px;
    float: right;
}

.tab_view_more {
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
    font-size: 14px;
}

#view_more_days_div {
    margin-top: 5px;
    margin-left: 10px;
    font-size: 14px;
}


#clear_all {
    margin-top: 10px;
}

#syncing_spinner {
    margin-left: 10px;
    vertical-align: bottom;
}

.ui-button, #export-form {
    font-size: 64% !important;
}

.ui-dialog-title {
    font-size: 75% !important;
}

#export-form label {
    font-weight: bold;
}

.ui-dialog .ui-state-error { 
    padding: .3em; 
}

.tab_4col .col1 {
    width: 40%;
    text-align: left;
}

.tab_4col .col2, 
.tab_4col .col3, 
.tab_4col .col4 {
    width: 20%;
    text-align: right;
}

popup.tab_4col .col2, 
popup.tab4_col .col3, 
popup.tab4_col .col4 {
    width: 20%;
    text-align: center;
}
